<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
<link rel='stylesheet' href='stylesheets/style.css'>
	<!-- jQuery CDN min -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="row" id="logo">
				<span class="pull-left">
					<a href="#" class="thumbnail">
		      	<img src="images/smilelyBook.png" height="60" width="60">
			    </span>
			    <h1>Galvanize Reads</h1>
		    </a>
		  </div>
		</div>
	</header>
<!-- Start 'author' side panel -->
	<div class="col-xs-3">
		<span class="pull-left">
			<a href="#" class="thumbnail">
				<img src="../public/images/''.png" height="80" width="20">
			</a>
  	</span>
  		<h2>Authors</h2>
	</div>
	<!-- Start book #1 info column -->
	<div class="col-md-9">
		<img src="../public/images/''.png" height="160" width="160">
		
				<ul class= "list-unstyled">
					<li><h4>Book One</h4></li>
					<li>by Author one and Author two</li>
					<li>Genre</li>
				</ul>	
				
	</div>
	<!-- Start 'book' side panel -->
	<div class="col-xs-3">
		<span class="pull-left">
			<a href="#" class="thumbnail">
				<img src="../public/images/''.png" height="80" width="20">
			</a>
  	</span>
  	<h2>Books</h2>
	</div>
	<!-- Start book #2 info column -->
	<div class="col-md-9">
		<img src="../public/images/''.png" height="160" width="160">
			<ul class= "list-unstyled">
				<li><h4>Book Two</h4></li>
				<li>by Author one</li>
				<li>Genre</li>
			</ul>	
	</div>

</body>
</html>



