<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='stylesheets/style.css'>
	<!-- jQuery CDN min -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="row" id="logo"><span class="pull-left">
				<a href="#" class="thumbnail">
		      <img src="images/smilelyBook.png" height="60" width="60">
			    </span>
			    <h1>Galvanize Reads</h1>
		    </a>
		  </div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<img src="../public/images/" height="400" width="600">
				<h2>Authors</h2>
			</div>
			<div class="col-md-6">
				<img src="../public/images/" height="400" width="600">
				<h2>Books</h2>
			</div>
		</div>
	</div>
</body>
</html>




